@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>


<address>
    Zapatos Web<br />
    Naranjo, Alajuela<br />
    Telefono: 8365-5072<br />
    Naranjo, Alajuela<br />
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">denrod11122017@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">zapatoswebg@outlook.com</a>
</address>