@{
    ViewBag.Title = "Inicio";
}


<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a Zapatos Web!</h2>
        <p>

        </p>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col-md-4">
        <h2>Sobre Nosotros.</h2>
        <p>Somos el sitio web que ofrece la mejor selección de marcas, estilos, colores y tallas de calzado; con los precios más bajos y el excelente servicio al cliente que te mereces. Nuestra meta es y siempre será hacer de ZAPATOS WEB el mejor lugar para que compres tus zapatos. </p>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col-md-4">
        <h2>Contacto.</h2>
        <p>Naranjo, Alajuela</p>
        <p>Telefono: 8365-5072</p>
        <p>Ubicacion: 100 metros SE de la entrada al Cerro Espiritu Santo</p>
        <address>
            <strong>Soporte:</strong>   <a href="mailto:Support@example.com">denrod11122017@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">zapatoswebg@outlook.com</a>
        </address>

    </div>
</div>